<div>
  <div>
    <app-header></app-header>
    <ul id="users">
      @for(user of users; track user.id){
        <li>
          <app-user
            [user]="user"
            [selected] = "user.id ===selectedUser.id"
            (select)="onSelectUser($event)"

          />
        </li>
      }
    </ul>
  </div>
  <div>
    @if(selectedUser){
      <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"/>
    } @else {
      <p id="fallback">you don't have selected user</p>
    }
  </div>
</div>
