<div>
  <div>
    <app-header></app-header>
    <ul id="users">
      <li>
        <app-user
          [user]="users[0]"
          (select)="onSelectUser($event)"
        />
      </li>
      <li>
        <app-user
          [user]="users[1]"
          (select)="onSelectUser($event)"
        />
      </li>
      <li>
        <app-user
          [user]="users[2]"
          (select)="onSelectUser($event)"
        />
      </li>
      <li>
        <app-user
          [user]="users[3]"
          (select)="onSelectUser($event)"
        />
      </li>
    </ul>
  </div>
  <div>
    <app-tasks [name]="selectedUser.name"/>
  </div>
</div>
